<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Picture Object Detection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <input type="submit" value="Back" id="upload-button">
</form>
</body>

<body>
<div class="container-fluid">
    <div class="row placeholders">
        <hr>
        <h1 class="page-header">Result Pictures</h1>
        {% for image_name in output_image_names %}
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src=" {{url_for('send_image', filename=image_name)}}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail" >
            <h4>{{image_name}}</h4>
            </div>
        {% endfor %}
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>
